@media only screen and (max-width: 768px){
    .main-frame .div-2 {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
        width: 100% !important;
        padding: 25px 20px !important;
        margin-top: 50px !important;
        align-items: flex-start !important;
        /* border-radius: 10px !important; */
        /* background: rgba(255, 255, 255, 0.98) !important; */
    }

    .main-frame .text-wrapper-label {
        font-size: 7vw !important;
        margin-bottom: 12px !important;
        letter-spacing: 0.3px !important;
    }

    .main-frame .text-wrapper-orange {
        font-size: 5.5vw !important;
        margin-bottom: 20px !important;
        letter-spacing: 0.2px !important;
    }

    .main-frame .text-wrapper-paragraph {
        font-size: 4.2vw !important;
        max-width: 100% !important;
        line-height: 1.7 !important;
        word-spacing: 1px !important;
    }
}

.main-frame {
    background-image: url("../../../public/Images/homePhoto.jpg");
    /* background-position: 100% 100%; */
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    /* position: relative; */
    width: 100vw;
}

.main-frame .div-2{
    align-items: flex-start;
    right: 10px;
    padding: 40px 30px;
    margin-top: 70px;
    position: absolute;
    top: 155px;
    width: 40%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* background: rgba(255, 255, 255, 0.95); */
    /* border-radius: 15px; */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

.main-frame .div-3{
    align-items: center;
    display: flex;
    gap: 5px;
    letter-spacing: 0;
    height: 15vh;
    padding: 1vw;
    position: relative;
}

.main-frame .text-wrapper-6 {
    color: #000000;
    direction: rtl;
    font-family: "Arimo hebrew Subset-Regular", Helvetica;
    font-size: 2vw;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -1.5px;
    margin-top: -3.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.main-frame .icon-dot{
    height: 10px !important;
    position: relative;
    width: 3vw;
}

.main-frame .text-wrapper-7{
    color: #000000;
    font-family: "Arial Rounded MT Bold-Regular";
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
    margin-left: 1vw;
}

.main-frame .text-wrapper-8 {
    color: #000000;
    direction: rtl;
    font-family: "Arimo Hebrew Subset-Regular";
    font-size: 2.5vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 23px;
}

.main-frame .button {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    margin-left: 5vw !important;
    width: fit-content ;
    height: 40px;
}

.main-frame .button .text-wrapper{
    font-size: 2vw;
}

.main-frame .text-wrapper-label {
    color: #000000;
    direction: rtl;
    font-family: "Heebo", "Talent-Bold", Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: right;
    width: 100%;
    letter-spacing: 0.5px;
}

.main-frame .text-wrapper-orange {
    color: #FF6B35;
    direction: rtl;
    font-family: "Heebo", "Talent-Bold", Helvetica, sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    text-align: right;
    width: 100%;
    letter-spacing: 0.3px;
}

.main-frame .text-wrapper-paragraph {
    color: #333333;
    direction: rtl;
    font-family: "Heebo", "Talent-Regular", Helvetica, sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.8;
    text-align: right;
    max-width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2px;
    word-spacing: 2px;
}

