@font-face {
  font-family: 'Fredoka-Medium';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url("./Fonts/Discovery/Discovery_Fs-Medium.woff2") format('woff2'),
       url("./Fonts/Discovery/Discovery_Fs-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Fredoka-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Fonts/Discovery/Discovery_Fs-Regular.woff2") format('woff2'),
       url("./Fonts/Discovery/Discovery_Fs-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Fredoka-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Fonts/Discovery/Discovery_Fs-Bold.woff2") format('woff2'),
       url("./Fonts/Discovery/Discovery_Fs-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Arial Rounded MT Bold-Regular';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Fonts/Discovery/Discovery_Fs-Bold.woff2") format('woff2'),
       url("./Fonts/Discovery/Discovery_Fs-Bold.woff") format('woff');
}

@font-face {
  font-family: "Arimo hebrew Subset-Regular";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Fonts/Discovery/Discovery_Fs-Demibold.woff2") format('woff2'),
       url("./Fonts/Discovery/Discovery_Fs-Demibold.woff") format('woff');
}

@font-face {
  font-family: "Talent-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Fonts/Talent/Talent_FS-Regular.woff2") format("woff2"),
       url("./Fonts/Talent/Talent_FS-Regular.woff") format("woff");
}

@font-face {
  font-family: "Talent-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Fonts/Talent/Talent_FS-Medium.woff2") format("woff2"),
       url("./Fonts/Talent/Talent_FS-Medium.woff") format("woff");
}

@font-face {
  font-family: "Talent-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Fonts/Talent/Talent_FS-Bold.woff2") format("woff2"),
       url("./Fonts/Talent/Talent_FS-Bold.woff") format("woff");
}